.App {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.loadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 90%;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.message.sent {
  text-align: right;
}

.message.received {
  text-align: left;
}

.message.system {
  text-align: center;
  color: red;
  background-color: #ffebee; /* Light red background for system messages */
}

.name {
  font-weight: bold;
}

.content {
  margin: 0;
}

.timestamp {
  font-size: 0.75em;
  color: gray;
}

.inputContainer {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.inputContainer input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.inputContainer button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.inputContainer button:hover {
  background-color: #0056b3;
}
